
*{
    box-sizing: border-box;

}

body{
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 5px dashed blue;
   
}

.reg-button{
    width: 50%;
    align-self: center;
    padding: 10px 25px;
}
input{
    height: 2rem;
}
textarea{
    height: 4rem;
}
.err-paragraph{
    border: 1px solid transparent;
 
    color: rgb(163, 4, 4);
    border-radius: 18px;
    text-align: center;
}
label:hover{
    cursor: pointer;
}

.davaleba-2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 5px dashed blue;
    width: 400px;

}
.davaleba-2 form{
    display: flex;
    flex-direction: column;
    

}
#list-ul{
    width: 400px;
}

.filtered{
    margin: 0 auto;
    width: 400px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 5px dashed blue;
}